// HEADER

.header {
	font-family: $font-default;
	background-color: white;
	padding: $pad;
	border-radius: 10px 10px 0 0;
	font-size: 10px;
	/*margin-left: 200px;
	margin-right: 200px;*/

	&__logo {
		margin: 0;
		font-family: $font-default;
		font-size: 3em;
		text-align: center;
		color: $primary;
	}
}

@media screen and (min-width: 900px) {

	.header {
	font-size: 18px;	
}
}