// BARVY
$primary:				#aa301a;
$secondary:			#422323;
$bg-color:			#f8ecec;

// FONTY
$font-default:	'Playfair Display', sans-serif;
$font-special: 	'Oswald', sans-serif;

// výchozí rozestup
$pad:						30px;